/*CSS RULES*/





/* 1700px width and 850px height*/

@media screen and (max-width:1700px) and (max-height:850px){

    .heading h1{
        font-size: 2em;
    }
}





/* 1380px width */

@media screen and (max-width:1380px){

    .content h1{
        font-size: 72px;
    }

    .order label#emailLabel{
        display: none;
    }
    .order label#message{
        display: none;
    }

    .order input::placeholder{
        visibility: visible;
    }

    .heading h1{
        font-size: 2em;
    }
}





/* 1190px width */

@media screen and (max-width:1190px){

    .content h1{
        font-size: 60px;
    }
    .heading h1{
        font-size: 2em;
    }

    .maskType{
        background: transparent;
    }
    .maskType a{
        font-size: 20px;
    }
}





/* 1000px width */

@media screen and (max-width:1000px){

    .nav #buttonClose{
        display: block;
    }
    .nav ul{
        display: none;
    }

    .hamburgerNav{
        position: fixed;
        left: 0;
        width:100%;
        height: 100vh;
        z-index: 110;
        background: #fff;
        display: none;
        justify-content: center;
        align-items: center;
    }
    #button{
        display: block;
    }
    .mobileNavList{
        width: 80%;
        height: 80%;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 2px 8px 2px rgba(0,0,0,0.5);
    }
    .mobileNavList ul{
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .mobileNavList ul li{
        display: block;
        margin: 23px;
    }
    .mobileNavList ul li a{
        text-decoration: none;
        color: black;
        padding: 15px;
        font-size: 2em;
    }

    


    .order{
        height: 40%;
    }



    .footer{
        bottom: -300%;
        left:12%;
        height: 100%;
    }
    .footerDivider{
        top: 0;
        height: 100%;
    }
    .footerCard1{
        top: 10%;
        width: 80%;
        left: 50%;
        transform: translate(-50%);
        height: 30%;
    }
    .footerCard2{
        top: 35%;
        width: 80%;
        left: 50%;
        transform: translate(-50%);
        height: 30%;
    }
    .footerCard3{
        top: 65%;
        width: 80%;
        left: 50%;
        transform: translate(-50%);
        background: transparent;
        height: 30%;
    }
    .copyright{
        top: 95%;
    }
}





/* 990px width */

@media screen and (max-width:990px){

    .content h1{
        font-size: 48px;
    }

    .mask1{
        height: 60%;
    }
    .mask2{
        height: 60%;
    }
    .mask3{
        height: 60%;
    }
}





/* 960px width */

@media screen and (max-width:960px){

    .maskType a{
        font-size: 18px;
        padding: 8px;
        margin: 10px;
    }
}





/* 800px width */

@media screen and (max-width:800px){

    .content h1{
        font-size: 40px;
    }

}





/* 660px width */

@media screen and (max-width:670px){

    .content h1{
        font-size: 40px;
        word-break: break-word;
    }

    .container1{
        width: 100%;
    }
    .nav{
        width: 100%;

    }
    .CTA{
        width: 100%;
    }
    .CTA a{
        font-size: 18px;
    }
    .backOpacity{
        width: 100%;
    }



    .container2{
        width: 100%;
    }
    .items{
        width: 90%;
        left: 5%;
    }
    .mask1{
        width: 45%;
    }
    .mask2{
        width: 45%;
        left: 55%;
    }
    .mask3{
        top: 100%;
        left: 0;
        width: 45%;
    }
    .maskType{
        top: 65%;
        height: 40%;
        background: transparent;
    }
    .maskType a{
        margin-left: 400px;
        margin-top: 0;
        width: 200px;
        display: block;
        right: 20%;
        font-size: 20px;
    }

    .order{
        position: absolute;
        top: 120%;
        left: 0;
        width: 100%;
    }
    .order h1{
        font-size: 24px;
    }



    .footer{
        bottom: -350%;
        width: 100%;
        left: 0;
    }
}






/* 620px width */

@media screen and (max-width:620px){

    .maskType a{
        margin-left: 320px;
    }
}





/* 540px width */

@media screen and (max-width:540px){

    .maskType{
        top: 110%;
    }
    .maskType a{
        margin-left: 20px;
    }
    .order{
        top: 140%;
    }



    .footer{
        bottom: -370%;
    }
}




/* 440px width */

@media screen and (max-width:440px){

    .mobileNavList{
        box-shadow: none;
    }

    .mobileNav ul li a{
        font-size: 20px;
    }

    .order input{
        width: 300px;
    }
    .order #sendMessage{
        width: 300px;
    }
}





/* 335px width */

@media screen and (max-width:335px){

    .order input{
        width: 200px;
    }
    .order #sendMessage{
        width: 200px;
    }
}









/*900px height*/

@media screen and (max-height:900px){

    .nav{
        height: 15%;
    }
}






/*755px height*/

@media screen and (max-height:755px){

    .order{
        top: 120%;
        height: 75%;
    }



    .footer{
        bottom:-490%;
        height: 150%;
    }
}





/* 755px height and 540 width */

@media screen and (max-height:755px) and (max-width:540px){
    .order{
        top: 150%;
    }
}






/*690px height*/

@media screen and (max-height:690px){

    .mobileNavList{
        box-shadow: none;
    }

    .mobileNav ul li a{
        font-size: 20px;
    }

    .items{
        top: 32%;
    }

    .maskType{
        top: 120%;
    }

    .order{
        top: 150%;
    }
}






/*540px heught*/

@media screen and (max-height:540px){

    .items{
        top: 40%;
    }
    .maskType{
        top: 128%;
    }
    .order{
        top: 175%;
        height: 80%;
    }



    .footer{
        bottom:-550%;
        height: 180%;
    }

}





/*500px heught*/

@media screen and (max-height:500px){
    .mask3{
        top: 120%;
    }

    .maskType{
        top: 135%;
    }

    .order{
        height: 90%;
        top: 160%;
    }
}





/*430px heught*/

@media screen and (max-height:430px){

    .items{
        top: 48%;
    }
    .maskType{
        top: 148%;
    }
    .order{
        top: 200%;
        height: 100%;
    }



    .footer{
        bottom:-640%;
        height: 220%;
    }
}





/*345px heught*/

@media screen and (max-height:345px){

    .items{
        top: 60%;
    }
    .maskType{
        top: 150%;
    }
    .order{
        top: 220%;
        height: 75%;
    }



    .footer{
        bottom:-760%;
        height: 220%;
    }
}
