
/* 670px width */

@media screen and (max-width: 670px){
    .cartContainer{
        width: 100%;
    }
}





/* 490px width */

@media screen and (max-width: 490px){
    .cartContainer h1{
        font-size: 24px;
    }
}





/* 755px height */

@media screen and (max-height: 755px){
    .footer{
        bottom: -200%;
    }
}





/* 580px height */

@media screen and (max-height: 580px){
    .footer{
        bottom: -240%;
    }
}






/* 440px height */

@media screen and (max-height: 440px){
    .footer{
        bottom: -280%;
    }
}





/* 500px width and 600px height */

@media screen and (max-width: 500px) and (max-height: 600px){
    .itenInfo{
        height: 28%;
    }
}