.container1{
    background: #fff;
}

.aboutContainer{
    position: absolute;
    top: 20%;
    width: 80%;
    height: 100%;
    background: #fff ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.picContainer{
    width: 60%;
    height: 100%;
    background: rgb(0, 33, 34);
    animation: animateCont 0.5s linear 1;
}
@keyframes animateCont{
    0%{
        transform: translate(-200px);
    }
    100%{
        transform: translate(0px);
    }
}
.picContainer img{
    width: 100%;
    height: 100%;
    animation: animatePic 2s linear 1;
}
@keyframes animatePic{
    0%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.aboutInfoContainer{
    width: 70%;
    height: 50%;
    background: rgb(0, 33, 34);
    margin-left: -400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    animation: animateInfo 2.3s linear 1;
}
@keyframes animateInfo{
    0%{
        transform: translate(200px);
        opacity: 0;
    }
    85%{
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}
.aboutInfo{
    width: 80%;
    height: 80%;
    border-left:8px solid rgb(0, 158, 163);
    text-align: center;
    animation: animateAboutInfo 4s linear 1;
}
@keyframes animateAboutInfo{
    0%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.aboutInfo h1{
    font-size: 40px;
}
.aboutInfo a{
    display: inline-block;
    padding: 12px;
    margin: 12px;
    text-decoration: none;
    color: rgb(0, 158, 163);
    font-size: 20px;
}

.footer{
    left: 10%;
    bottom: -120%;
}
